@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  background: linear-gradient(to left, #D96D1E, #2D2C71);

}

header {
  width: 30%;
  /* background-color: #0EA05F;*/
}
.menu-mobile{
  display: none;
}
#diciplina{
margin-left: 30px;
}
.menu-lateral {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
 /* background-color: rgb(223, 223, 223);*/
  text-align: center;
  border-right: 3px solid silver;
  margin-bottom: 9px;
}
.menu-lateral img {
  width: 32%;
}
.menu-lateral h3 {
  text-align: center;
  font-style: italic;
  padding-top: 15px;
  color: white;
}

.menu-itens {
  display: block;
  margin-left: 2%;
  padding: 8px;
}

.itens {
 background-color:whitesmoke;
 /*border: 2px solid #0EA05F;*/
 border-radius: 5px;
  display: flex;
  justify-content: left;
  padding: 18px;
  margin-bottom: 5px;
  transition: .3s;
}

.itens:hover  {
  transition: .2s;
  transform: scale(1.1);
  
}
.itens:hover  i{
  transform: scale(1.1); 
   color: #0EA05F;
}
i{
  font-size: larger;
}
span {
  font-weight: bold;
  cursor: pointer;
}
.itens a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.itens a:hover {
  color: #0EA05F;
}

main {
  width: 70%;
  /* background: linear-gradient(to bottom, #d96c1e4c, #2d2c7184);*/
}

.body {
  width: 100%;
}

.body-conteiner {
  display: block;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}
.img-conteiner {
width: 100%;
display: flex;
align-items: center;
margin-bottom: 30px;
padding-top: 15px;


}

/*estilo da foto do aluno*/
#alunoimg {
  width: 200px;
  border-radius: 50%;
  border:2px solid white;
  margin-left: 20px;
  height: 200px;
}

.aluno {
  align-items: center;
  /*background-color: bisque;*/
  width: 70%;
  height: 100%;
}
#btn-mobile{
display:none;
}
/*estilo das mine informações do perfil*/
.mine-inf {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#nome{
  margin-left: 35px;
}
#log {
  margin-left: 15%;
    width: 70%;
    
  }
/*main menu*/
.main-menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:4px solid silver ;

}

.main-menu a {
  text-decoration: none;
  margin-left: 25px;
  text-align: center;
  color: white;
  padding-top: 25px;
}

.main-menu a:hover {
  color: white;
  border-top: 2px solid #0EA05F;
}
#menu-mobile{
  display: none;
}
.conteudo {
background-color:rgb(240, 240, 240);
  display:none;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 5px;
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 15px;
}
#conteudo h3{
top: 50%;
}
#notifica{
  background-color:rgb(240, 240, 240);
    display: none;
    align-items: center;
    text-align: center;
    color: black;
    border-radius: 5px;
    width: 85%;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  #notifica h3{
    top: 50%;
    }

#content {
  margin: auto;
  border-radius: 5px;
  width: 80%;
  background-color: rgba(192, 192, 192, 0.442);
}
/*estilo insira o id do director de turma*/
.form_not{
  padding: 5px;
  background:linear-gradient(to left, #d96c1ed8, #2d2c71d8);

 }
#id_aluno{
 padding: 5px;
border-radius: 5px;
 color:#93523F ;
 border: 1px solid #0EA05F;

}
#enviar_not{
  
  background-color: #39316B ;
  color:#0EA05F ;
  border: 1px solid #93523F;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
}
#enviar_not:hover{
  background-color: #39316B ;
  border: 1px solid #0EA05F;
  color: #93523F;
  transition: .5s;
}
/*estilo da area de notificação*/
/*estilo da area de notificação*/


.notificação{
  background:linear-gradient(to left, #d96c1ed8, #2d2c71d8);
  color: whitesmoke;
  padding: 1px;
  border-radius:5px;
  margin:auto;
  width:95%;
  }

#data{
  text-align:right;
  font-weight:bold;
  margin-right: 12px;
}
#assunto{
  text-align:left;
  font-weight:bold;
  margin-left: 12px;
}
.table-responsive{
  background:linear-gradient(to top left , #d96c1ed8, #2d2c71d8);
  border-radius:5px ;

}
/*estilo do inuts para arquivos*/
.form-conteiner{
  margin: auto;
  text-align: center;
  border-radius: 5px;
  height:100%;
  width: 100%;
  background:linear-gradient(to top left , #d96c1ed8, #2d2c71d8);

}
.form-conteiner h2{
 color: #0ea05ed0;

}

.form-conteiner label{
  text-align: center;
  display: block;
  margin: auto;
  background-color: #39316B ;
  color:#93523F ;
  border: 1px solid #0EA05F;
  padding: 10px;
  width: 200px;
 border-radius: 6px;
 cursor: pointer;
 transition: .5s;
}
.form-conteiner label:hover{
  background-color: #39316B ;
  border: 1px solid #93523F;
  color: #0EA05F;
  transition: .5s;
}

.form-conteiner input{
display: none;
}

.form-conteiner button{
  
  background-color: #39316B ;
  color:#0EA05F ;
  border: 1px solid #93523F;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}
.form-conteiner button:hover{
  background-color: #39316B ;
  border: 1px solid #0EA05F;
  color: #93523F;
  transition: .5s;
}
/*estilo do inuts para arquivos materia*/
.form-conteiner-materia{
  margin: auto;
  text-align: center;
  border-radius: 5px;
  height:100%;
  width: 100%;
  background:linear-gradient(to top left , #d96c1ed8, #2d2c71d8);

}
.form-conteiner-materia h2{
 color: #0ea05ed0;

}

.form-conteiner-materia label{
  text-align: center;
  display: block;
  margin: auto;
  background-color: #39316B ;
  color:#93523F ;
  border: 1px solid #0EA05F;
  padding: 10px;
  width: 200px;
 border-radius: 6px;
 cursor: pointer;
 transition: .5s;
}
.form-conteiner-materia label:hover{
  background-color: #39316B ;
  border: 1px solid #93523F;
  color: #0EA05F;
  transition: .5s;
}

.form-conteiner-materia input{
display: none;
}

.form-conteiner-materia button{
  
  background-color: #39316B ;
  color:#0EA05F ;
  border: 1px solid #93523F;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}
.form-conteiner-materia button:hover{
  background-color: #39316B ;
  border: 1px solid #0EA05F;
  color: #93523F;
  transition: .5s;
}