@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
body{  overflow-x: hidden;
}
#img {
  background-image: url(../img/pexels-pavel-danilyuk-7658203.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 3px transparent #F6BB3D;
  width: 100%;
  height: 600px;
  margin: auto;

}

#img h3 {
  margin-top: 250px;
  color: whitesmoke;
  font-weight: normal;
  font-size: xx-large;
  text-align: center;

}

#btn-mobile {
  display: none;
}

.efeito1 {
  opacity: 0;
  transition: all 4s;
  transform: translate(1%);

}

.efeito01 {
  opacity: 1;
  transition: all 4s;
  transform: translate(0);
}

p {
  font-weight: normal;
}

#log {
  padding-left: 10%;
  margin-left: 5%;
  width: 90px;
  border-radius: 50%;

}

#logo {
  display: flex;

}

#log {
  padding-left: 10%;
  margin-left: 5%;
  width: 90px;
  border-radius: 50%;

}

#menu {
  display: flex;
  /* barra amarela do menu*/
  width: 100%;
  height: 85px;
  background: linear-gradient(to left, #D96D1E, #2D2C71);

  justify-content: space-between;

}

#menu ul {

  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 10px;

}

#menu a {
  color: white;
  content: " ";
  width: 100%;
  height: 4px;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;

}

#menu a:hover {
  color: #203346;

}

.dropdwonmenu {
  position: absolute;
  display: none;
  height: 70px;
  width: auto;
  color: #203346;
}

.dropdwonmenu a {
  display: block;
  color: #203346;
  margin-top: 2px;
}

.dropdwon:hover .dropdwonmenu {
  display: block;
  background: linear-gradient(to bottom, #D96D1E, #2D2C71);


}
#matri{
  color: #39316B ;
  border: 1px solid #39316B;
  }
  #matri:hover{
    background-color: #39316B ;
    border: 1px solid #93523F;
    color: #0EA05F;
    transition: .5s;
  }
main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  text-align: center;

}

#pri {
  margin-top: 20px;
  margin-bottom: 20px;
}


h2 {
  color: #F6BB3D;
  padding: 15px;
}

.text {
  font-weight: normal;
  margin: auto;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}
label {
  display: block;
  justify-content: left;
  font-weight: 300px;
  font-size: larger;
}
.secre {
  display: flex;
}

.ul {
  list-style: none;
  color: #203346;
  padding-top: 30px;
  padding-bottom: 20px;
}

#contactos {
  display: flex;
  justify-content: space-around ;
}

.contacte {
  /*margin-top: 10px;*/
  margin-top: 50px;
  padding-top: 5px;
  display: flex;
  align-items: center;

}

.contacte ul {
  list-style-type: none;
}

.segul li {
padding-bottom: 45px;
  text-align: left;
  margin-left: 10px;
}
.segul li a {
  text-decoration: none;
color: black;
  }
.primul button a{
  text-decoration: none;
  color: #0EA05F;
  }
  .primul button a:hover{
    color: #93523F;
    transition: .5s;
    }
.primul button {
  display: block;
  text-align: left;
  margin-bottom: 50px;
  /* background: linear-gradient(to left, #ed8f03, #ffb75e, #F6BB3D);
  background: linear-gradient(to right, #2D2C71, #757595, #D96D1E);*/
  background-color: #39316B ;
  border: 1px solid #93523F;
  color: #0EA05F;
  border-style: none;
}
.primul button:hover{
  background-color: #39316B ;
  color: #93523F;
 
}
.contacte span {

  font-size: larger;
  font-weight: bold;
  padding-right: 5px;
}

.primul {
  text-align: left;
  margin-bottom: 32px;
}


.container {
  width: 60%;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 5px;
  margin-bottom: 30px;
}

.container button {
  width: 38%;
  margin: auto;
  margin-bottom: 30px;
  background-color: #39316B ;
  border: 1px solid #93523F;
  color:#0EA05F ;
}
#matri{
  color: #39316B ;
  border: 1px solid #39316B;
  }
  .container button:hover{
    background-color: #39316B ;
    border: 1px solid #0EA05F;
    color: #93523F;
    transition: .5s;
  }
  .form-row{
    display:block;
  }
  .col{
    padding-top:20px;
  }
  textarea{
    width: 200px; height: 150px; resize: none
  }

.input {
  margin-left: 10px;
  padding: 10px;
  width: 70%; 
 outline: none;
  border:none;
  border-bottom: 1px solid #0EA05F;
  /*color: rgb(154, 152, 152);*/color: black;
  background: none;
}
.inputmail {
  margin-left: 10px;
  padding: 10px;
  width: 70%; 
 outline: none;
  border:none;
  /*color: rgb(154, 152, 152);*/color: black;
  border-bottom: 1px solid #0EA05F;
  background: none;
}
.form-control {
  text-align: center;
  color: #203346;
}

#Perguntas {
  color: #2D2C71;
  font-size: bold;
}

.caixa-conteiner {
  display: block;
  margin-left:15%;
  margin-bottom: 30px;
  width: 65%;
}

.caixa-content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}

.caixa-question {
  background-color: rgb(224, 224, 224);
  width: 100%;
}

.caixa-question p {
  text-align: left;
  align-items: center;
  margin-left: 5px;
}

.caixa-content button {
  background-color: rgb(208, 206, 206);
  border-style: none;
  height: auto;
  padding: 0px;
  cursor: pointer;
}

#Re {
  display: none;
}

#Rep {
  display: none;
}

#Repo {
  display: none;
}

#Repos {
  display: none;
}
#mapa2 iframe {
  height: 500px;
  width: 100%;
}


/*roda pé*/
footer {
  color: #203346;
  background: linear-gradient(to left, #D96D1E, #2D2C71);
  background-attachment: fixed;
  display: block;
  justify-content: center;
}

#conte {
  display: flex;
}

#contacte {
  text-align: center;
}

#contacte ul {
  list-style-type: none;
}

#contacte h2 {
  color: #203346;
}

#rede {
  display: flex;
  color: #203346;
  text-align: center;
  justify-content: center;
  list-style-type: none;

}