#btn-mobile {
    background-color: #D46B20;
    display: block;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 1;
    border-style: none;
    border-radius: 5px;
    outline: none;
  }
  #btn-mobile.btnactive{
    background-color:white;
    display: block;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 100;
    border-style: none;
    border-radius: 5px;
    outline: none;
    transition: .5s;
  
  }
  #menu ul {
    display: none;
    padding: 10px;
    padding-top: 10px;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color:  rgba(0, 0, 0, 0.739);
    z-index: 1;
  
  }
  #menu a:hover {
    color: #0EA05F;
  }
  #menu li {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  #menu.active ul {
    display: block;
  
  }
  #img {
    background-image: url(../img/pexels-pavel-danilyuk-7658203.jpg);
    background-size:cover;
    background-position:right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 3px transparent #F6BB3D;
    width: 100%;
    height: 405px;
    margin: auto;
  
  }
  
  /*welcome*/
  
  #welcome {
    display: block;
  
    margin-top: 100px;
    
  
  }
  

  
  /* neste arquivo contén estio da secretaria*/
  /*começa aqui*/
  .secre {
    display: block;
  
  }
  .container {
    width: 90%;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .container button {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    background-color: #39316B ;
    border: 1px solid #93523F;
    color:#0EA05F ;
  }